.calculator {
  min-height: 550px;
 .caption {
  color: #0173a2;
  font-style: italic;
 }
 .tabs {
  .headers {
    border: 0 none;
    margin: 0;
    > * {
     z-index: 1;
     border-radius: 10px 10px 0 0;
     background: #d3a919;
     background-image: -moz-linear-gradient(bottom, #d3a919 0%, #e9e87d 100%);
     background-image: -o-linear-gradient(bottom, #d3a919 0%, #e9e87d 100%);
     background-image: -webkit-linear-gradient(bottom, #d3a919 0%, #e9e87d 100%);
     background-image: linear-gradient(bottom, #d3a919 0%, #e9e87d 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e87d', endColorstr='#d3a919',GradientType=0 );
     border-style: solid;
     border-width: 1px 1px 0;
     border-color: #e9e87d transparent transparent transparent;
     margin-right: -0.7em;
     &:not(.active):not(:first-child) {
      padding-left: 2.3em;
     }
     &.active {
      background: none repeat scroll 0 0 white;
      border-color: #c1d1dc;
      color: #797979;
      z-index: 2;
      &:before {
       border-top-color:white;
      }
      &:after {
       background: white;
       border-color: transparent #c1d1dc transparent transparent;
       border-radius: 0 1px 0 0;
       top: 4px;
      }
     }
     &:after {
      background: #d3a919;
      background-image: -moz-linear-gradient(bottom, #d3a919 0%, #e9e87d 100%);
      background-image: -o-linear-gradient(bottom, #d3a919 0%, #e9e87d 100%);
      background-image: -webkit-linear-gradient(bottom, #d3a919 0%, #e9e87d 100%);
      background-image: linear-gradient(bottom, #d3a919 0%, #e9e87d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e87d', endColorstr='#d3a919',GradientType=0 );
      border-color: #e9e87d transparent transparent transparent;
      border-image: none;
      border-radius: 0 10px 0 0;
      border-style: solid;
      border-width: 1px;
      bottom: -2px;
      content: "";
      position: absolute;
      right: -6px;
      top: -1px;
      transform: skewX(25deg);
      width: 13px;
     }
     &:before {
       background: none repeat scroll 0 0 white;
       right: 0;
       bottom: -11px;
       content: "";
       display: block;
       height: 10px;
       left: -1px;
       position: absolute;
       border-top:1px solid #c1d1dc;
     }
     &:first-child {
      &:not(.active) {
       padding-right: 2.3em;
      }
      &:before {
       border-left: 1px solid #c1d1dc;
      }
     }
   }
  }
  .contents {
   background: none repeat scroll 0 0 white;
   border-radius: 10px;
   border: 1px solid #c1d1dc;
   min-height: 510px;
   padding: 1em;
  }
 }
 .template {
  display: none;
 }
 .parameters {
  bottom: 0;
  font-size: 14px;
  left: 0;
  padding: 0 2% 1em 58%;
  position: absolute;
  right: 0;
  >* {
   vertical-align: middle;
  }
  .sizes {
    bottom: 0;
    left: 0;
    position: absolute;
  }
  .radio {
   color: #0173a2;
   display: table;
   padding-bottom: 1.5em;
   width: 100%;
   >* {
    display: table-cell;
    &:first-child {
      width: 130px;
    }
   }
   label {
    color: #919191;
    display: inline-block;
    font-size: inherit;
    padding: 0 0.5em;
    text-indent: 0;
   }
  }
  .price {
   color: #ff7800;
   display: inline-block;
   font-size: 15px;
   padding-right: 1em;
   text-align: right;
   width: 52%;
   span {
    font-size: 33px;
   }
  }
  .button,button,[type="button"] {
   background: none repeat scroll 0 0 #0172a0;
   border: medium none;
   border-radius: 7px;
   color: white;
   cursor: pointer;
   display: inline-block;
   font-size: 18px;
   font-weight: bold;
   margin: 0 -1em;
   padding: 0.2em 3em;
   text-transform: uppercase;
   transform: scale(0.77, 1.2);
    &:hover {
     box-shadow:0 1px 3px 0 #808080, -1px -1px 2px #303030 inset, 1px 1px 2px #b3b3b3 inset;
    }
    &:active {
     box-shadow:1px 1px 2px #1a1a1a inset, -1px -1px 1px #f3f3f3 inset;
    }
  }
 }
 .type {
   position: absolute;
   right: 0;
   width: 50%;
  .casement {
    display: table;
   margin: 1em;
   .group {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    background: no-repeat center top;
    height: 130px;
     &:hover {
      .variants {
       display: block;
       background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
       border-color: #92cbf1;
       >* {
        display: inline-block;
       }
      }
     }
    .variants {
     border: 1px solid transparent;     
     border-radius: 0.5em;
     left: -5px;
     margin: -11px 0;
     padding: 10px;
     position: absolute;
     right: -5px;
     z-index: 1;
     img { display: block;}
     >* {
      display: none;
      margin: 0 auto;
      cursor: pointer;
      opacity: 0.8;
      &:hover,&.active,&.selected {
       opacity: 1;
       display: inline-block;
       position: relative;
      }
      &.active {
       &:after {
         border: 6px solid rgba(225, 225, 112,0.8);
         bottom: 4px;
         content: "";
         display: block;
         left: 0;
         position: absolute;
         right: 0;
         top: 0;
       }
      }
     }
    }
   }
  }
 }
 .preview {
  bottom: 6%;
  display: table;
  left: 8%;
  position: absolute;
  text-align: center;
  top: 11%;
  vertical-align: middle;
  >*:not(img) {
   display: table-cell;
   height: 440px;
   max-height: 440px;
   max-width: 440px;
   text-align: center;
   vertical-align: middle;
   width: 440px;
  }
  img {
    max-height: 100%;
    max-width: 100%;
  }
 }
 .warning {
    background: none repeat scroll 0 0 #f0f0f0;
    border: 1px solid #c6ced7;
    border-radius: 10px;
    color: #646464;
    font-size: 13px;
    margin-top: 1em;
    padding: 1em;
  * {
   margin:0;
  }
 }
}
